// Architecture
SDKROOT = macosx

// Packaging
PRODUCT_NAME = 04 - Drawing in 3D
PRODUCT_BUNDLE_IDENTIFIER = me.dehesa.metal.drawingin3D
INFOPLIST_FILE = $(SRCROOT)/osx/configurations/osx.plist
PRODUCT_MODULE_NAME = DrawingIn3D

// Versioning
CURRENT_PROJECT_VERSION = 1
DYLIB_CURRENT_VERSION = 2.0.0
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)

// APPLE LLVM - Language
GCC_C_LANGUAGE_STANDARD = c11

// User-Generated
MAIN_STORYBOARD = main
BUNDLE_SIGNATURE = MSDC
