// Architecture
SDKROOT = macosx

// Packaging
INFOPLIST_FILE = $(SRCROOT)/Configuration/GrayScale/GrayScale.plist

// Packaging
PRODUCT_NAME = $(PRODUCT_NAME)_grayscale
PRODUCT_MODULE_NAME = $(PRODUCT_NAME)
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER).grayscale

// Versioning
CURRENT_PROJECT_VERSION = 1
DYLIB_CURRENT_VERSION = 1.0.0
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)
