// Architecture
SDKROOT = macosx

// Packaging
INFOPLIST_FILE = $(SRCROOT)/Configuration/GrayScale/Detector.plist

// Packaging
PRODUCT_NAME = $(PRODUCT_NAME)_detector
PRODUCT_MODULE_NAME = $(PRODUCT_NAME)
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER).detector

// Versioning
DYLIB_CURRENT_VERSION = 1.0.2
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)
CURRENT_PROJECT_VERSION = 1
