// Architecture
SDKROOT = macosx

// Packaging
PRODUCT_NAME = $(PRODUCT_NAME)_inspector
PRODUCT_MODULE_NAME = $(PRODUCT_NAME)
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER).inspector

// Signing
CODE_SIGN_IDENTITY = -

// Versioning
DYLIB_CURRENT_VERSION = 1.2.0
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)
CURRENT_PROJECT_VERSION = 1
