// Packaging
PRODUCT_NAME = 02
PRODUCT_BUNDLE_IDENTIFIER = me.dehesa.metal.clearscreen
PRODUCT_MODULE_NAME = ClearScreen

// Versioning
CURRENT_PROJECT_VERSION = 1
DYLIB_CURRENT_VERSION = 3.0.0
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)

// Swift
SWIFT_VERSION = 4.0

// APPLE LLVM - Language
GCC_C_LANGUAGE_STANDARD = c11

// User-Generated
BUNDLE_SIGNATURE = MSDC
