// Packaging
PRODUCT_NAME = Tessellation
PRODUCT_BUNDLE_IDENTIFIER = io.dehesa.metal.apple.tessellation
PRODUCT_MODULE_NAME = Tessellation

// Versioning
DYLIB_CURRENT_VERSION = 1.1.3
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)
CURRENT_PROJECT_VERSION = 1

// Swift
SWIFT_VERSION = 5.1

// APPLE LLVM - Language
GCC_C_LANGUAGE_STANDARD = c11

// APPLE LLVM - Warnings
CLANG_WARN_DOCUMENTATION_COMMENTS = YES

// User-Generated
BUNDLE_SIGNATURE = MSDC
