// Packaging
PRODUCT_NAME = 05
PRODUCT_BUNDLE_IDENTIFIER = io.dehesa.metal.lighting
PRODUCT_MODULE_NAME = Lighting

// Versioning
DYLIB_CURRENT_VERSION = 3.0.4
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)
CURRENT_PROJECT_VERSION = 1

// Swift
SWIFT_VERSION = 5.5
SWIFT_OPTIMIZE_OBJECT_LIFETIME = YES

// User-Generated
BUNDLE_SIGNATURE = MSDC
