// Packaging
PRODUCT_NAME = 03
PRODUCT_BUNDLE_IDENTIFIER = io.dehesa.metal.drawingin2d
PRODUCT_MODULE_NAME = DrawingIn2D

// Versioning
DYLIB_CURRENT_VERSION = 3.0.1
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)
CURRENT_PROJECT_VERSION = 1

// Swift
SWIFT_VERSION = 4.2

// APPLE LLVM - Language
GCC_C_LANGUAGE_STANDARD = c11

// User-Generated
BUNDLE_SIGNATURE = MSDC
