// Architecture
SDKROOT = macosx

// Packaging
PRODUCT_NAME = $(PRODUCT_NAME)_grayscale
PRODUCT_MODULE_NAME = $(PRODUCT_NAME)
PRODUCT_BUNDLE_IDENTIFIER = $(PRODUCT_BUNDLE_IDENTIFIER).grayscale

// Signing
CODE_SIGN_IDENTITY = -

// Versioning
DYLIB_CURRENT_VERSION = 1.0.5
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)
CURRENT_PROJECT_VERSION = 1
