// Packaging
PRODUCT_NAME = Shader Exam
PRODUCT_BUNDLE_IDENTIFIER = io.dehesa.metal.exam.shader
PRODUCT_MODULE_NAME = ShaderExam

// Versioning
DYLIB_CURRENT_VERSION = 1.0.0
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)
CURRENT_PROJECT_VERSION = 1

// Swift
SWIFT_VERSION = 4.1

// APPLE LLVM - Language
GCC_C_LANGUAGE_STANDARD = c11

// User-Generated
BUNDLE_SIGNATURE = MSDC
