// Architecture
SDKROOT = iphoneos
SUPPORTED_PLATFORMS = iphoneos

// Deployment
TARGETED_DEVICE_FAMILY = 1,2

// Packaging
PRODUCT_NAME = 02 - Clear Screen
PRODUCT_BUNDLE_IDENTIFIER = me.dehesa.metal.clearscreen
INFOPLIST_FILE = $(SRCROOT)/ios/configurations/ios.plist
PRODUCT_MODULE_NAME = ClearScreen

// APPLE LLVM - Language
GCC_C_LANGUAGE_STANDARD = c11
