// Packaging
PRODUCT_NAME = gpgpu
PRODUCT_BUNDLE_IDENTIFIER = me.dehesa.metal.commandline.gpgpu

// Versioning
CURRENT_PROJECT_VERSION = 1
DYLIB_CURRENT_VERSION = 1.0.0
DYLIB_COMPATIBILITY_VERSION = $(DYLIB_CURRENT_VERSION)

// Swift
SWIFT_VERSION = 4.0.3

// APPLE LLVM - Language
GCC_C_LANGUAGE_STANDARD = c11

// User-Generated
BUNDLE_SIGNATURE = MSDC
